.applicant-list-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .applicant-list-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }
  
  .applicant-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .applicant-table th,
  .applicant-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .view-profile-button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .view-profile-button:hover {
    background-color: #0056b3;
  }
  .contactButton {
    background: #0056b3;
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #0056b3;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
  }
  
  .iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #0056b3;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #0056b3;
  }
  
  .contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #0056b3;
  }  

  .applied-color {
    color: orange;
  }
  
  .reject-color {
    color: red;
  }
  
  .interview-color {
    color: blue;
  }
  
  .shortlisted-color {
    color: silver;
  }
  
  .selected-color {
    color: green;
  }