/* Navbar styles */
.custom-navbar {
  height: 80px; /* Adjust the desired height */
  padding: 10px 0; /* Add padding for vertical spacing */
}

.test {
  background-color: white;
  position: fixed;
  height: 80px;
  margin-bottom:20px;
}

.logo {
  width: 110px;
  margin-top: 20px;
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* Apply styles only when the screen width is 768px or less */
  .custom-navbar {
    padding: 10px; /* Add some padding to the navbar for better mobile view */
  }

  .logo {
    width: 50px; /* Adjust the logo width for smaller screens */
  }

  .company-title {
    font-size: 20px; /* Adjust the font size for the title on smaller screens */
  }

  .click-here a {
    text-decoration: underline; /* Add underline to the "Click here" link */
    font-weight: bold; /* Add bold font weight to the link */
    margin-left: 8px; /* Add some spacing between the title and the link */
  }
}


/* Reset some default styles for consistency */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.admin-container {
  display: flex;
  min-height: 100vh;
}

.admin-sidebar {
  flex: 0 0 250px;
  background-color: #2C3E50; /* Dark blue */
  color: white;
  padding-top: 20px;
}

.admin-sidebar ul {
  list-style: none;
}

.admin-sidebar li {
  margin-bottom: 10px;
}

.admin-sidebar li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.admin-sidebar li a:hover {
  background-color: #34495E; /* Slightly lighter blue on hover */
}

.admin-main {
  flex: 1;
  padding: 20px;
}



