/* Userroute.css */
/* .content-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* .user-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
} */

.content {
    margin-top: 80px; /* Height of the fixed Navbar */
    flex-grow: 1; /* Allow content to take remaining height */
    overflow-y: auto; /* Add scrollbar for content overflow */
  }
  